.row {
  /*border: 1px solid red;*/
}

.cell {
  border: 1px solid green;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin:10px;
  vertical-align:middle;
}

.border {
  /*border: 1px solid blue;*/
}

.hidden{
  background-color: lightslategray;
}
.missed{
  background-color: burlywood;
}
.broken{
  background-color: red;
}